<!DOCTYPE html>
<html>
  <% include partials/head %>
  <% include scripts/scripts %>
 <body>
  <% include partials/header %>
    <!-- <div class = "column"> -->
        <div>빈칸<p></p></div>
       <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR8mSIRwc4s2SAjJgTIOOrQ4OTLkqNWH1ojDYwhHM3MTQre-QpOPwTlB5xm-lR2ArnKWXtJ1Wu5q_xs/pubhtml?widget=true&amp;headers=false" width="100%" height="90%" ></iframe>

</body>
</html>