
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="./pin" class="header item">
        <img class="logo" src="/images/logo.JPG">
        하하 상품권 조회
      </a>
      <div class="ui simple dropdown item">
        핀 번호 등록 <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="../pin_byeol">스타벅스 등록</a>
          <a class="item" href="../pin_byeol">별풍선 등록</a>
          <div class="divider"></div>
          <a class="item" href="../pin_add_etc">그 외 등록</a>
        </div>
      </div>
      <a href="../log" class="header item">로그 보기</a>
      <a href="../money" class="header item">장부 보기</a>
      <a href="../member" class="header item">회원 관리</a>
      <a href="../logout" class = "right header item">나가기</a>
    </div>
  </div>

  <!-- from semantic ui fixed menu -->
  <style>
    .ui.two.column.centered.grid{
            padding-top: 5.75rem;
    }    
</style>