
  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">      
      <div class="ui inverted section divider"></div>
      <img src="/images/logo.JPG" class="ui centered mini image">
      <div class="ui horizontal inverted small divided link list">
        <a class="item">HAHA LOVES YOU</a>
      </div>
    </div>
  </div>

