<% include ../layout %>
<div class="ui two column centered grid" style = "padding-top:5.75rem;" >
  <div class = "column">  

<a href="/auth/google"><div class="ui fluid large teal submit button">구글 아이디로 로그인</div></a>
</div>
</div>


<% include ../../partials/footer %>
</body>

</html>
