<!DOCTYPE html>
<html>
  <title><%= title %></title>
  <% include partials/head %>
  <% include scripts/scripts %>
 <body>
  <% include partials/header %>
<div class="ui two column centered grid">
  <div class = "column">
    <div class = "haha-button" style="margin: 2rem;">
  </div>
  <table class="ui single line table">
    <thead>
      <tr>
        <th>관리자ID</th>
        <th>사번</th>
        <th>이름</th>
        <th>등록 날짜</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>haha</td>
        <td>11</td>
        <td>안현우</td>
        <td>2018-11-12</td>

      </tr>

    </tbody>
  </table>

</div>
</div>
</body>

</html>
